@import "bourbon";
@import "grid-settings";
@import "neat";

.container {
	@include outer-container;
	.project {
		background: tomato;
		@include span-columns(6);
		@include omega(2n);
		margin-bottom: 20px;
		height: 45vw;
	}
}