@import "bourbon";
@import "grid-settings";
@import "neat";

body {
	margin: 0;
	padding: 20px;
}

.container {
	@include outer-container;
	.project {
		background: tomato;
		@include span-columns(6);
		@include omega(2n);
		margin-bottom: 20px;
		height: 100px;
	}
}