@import "bourbon";
@import "neat";

$visual-grid : true;

.container {
	@include outer-container;
	.project {
		background: tomato;
		@include span-columns(6);
		@include omega();
		margin-bottom: 20px;
		height: 100px;
		@include media(769px) {
       		@include span-columns(4);
     	}
	}
}