html
	head
		title Atrium of the Sun
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			a(href="/index.html")
				h2.title Atrium of the Sun
				h3 &#10035;
		div.bg.one
		div.bg.two
		img(src="assets/img/1.jpg" class="burst")
		div.img-container
			img(src="assets/img/merlin.svg" class="merlin")
			p ☉
		img(src="assets/img/sun.png" class="sun")
			
		footer
			script(src="js/scripts.min.js")