html
	head
		title Neat Practice
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.container
			div.project
			div.project
			div.project
			div.project
			div.project
			